/* search results styling */

/* Default and small screens */


.pf-search-results-note {
	font-weight: bold;
	background-color: #fff7d9;
}

.pf-search-results-name {
	font-size: 1.1em;
	font-weight:bold;
}

.pf-search-results {
	padding-bottom: 2em;
	border-bottom: 3px double black;
	margin-bottom:5em;
}